/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* ----------- Section one -----------*/

body {
    padding: 0;
    margin: 0;
    width: 100vw;
}

#section-one {
    width: 100%;
    box-sizing: border-box;
    background-image:url(/images/landing.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    margin: 0;
    border: purple solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFF;
    margin: 0;
}

#spotify-logo {
    height: 80%;
}

ul{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

#background-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color: #FFF;
    font-size: 64px;
    padding: 0;
    margin: 0
}

#article-top {
    color: #FFF;
    font-size: 16px;
}

/* ----------- Section two -----------*/

#section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container > div {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container > div > img {
    width: 60px;
    height: 55px;
}

h2 {
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 2px #00B172 solid;
}

h3 {
    font-weight: bold;
    color: #00B172;
}

/* ----------- Section three -----------*/

#section-three {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    background-color: #00B172;
    color: #FFF;
    
}
.artist-description > h3 {
    color: #FFF;
}

.artist-description > h2{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #FFF;
}

.artist-description{
    border: black 2px solid;
    width: 20px
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.artist-picture{
    border: black 2px solid;
    
}

#white-logo{
    border: black 2px solid;
    position: absolute;
    height: 150px;
    width: 150px;
}